@use 'sass:color';
@use '../abstracts/variables' as v;
@use'../abstracts/mixins' as m;

.main-header {
    background-color: v.$text-color; 
    box-shadow: v.$shadow-default;
    padding: v.$spacing-unit;
    
    .header-container {
        @include m.breakpoint(desktop) {
            max-width: v.$max-width;
            margin: 0 auto;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .app-logo {
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .nav-list {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        a {
            color: white;
            padding: 0.5rem 0;
            &:hover {
                color: v.$primary-color;
                text-decoration: none;
            }
        }
    }
}