@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins';
@use 'sass:color';

.meetupListPage {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pageTitle {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;
    }
}
    
.statusMessage {
    padding: v.$spacing-unit;
    margin-bottom: v.$spacing-unit;
    border-radius: v.$border-radius;
    font-weight: 500;
    
    &.loading {
        background-color: color.adjust(v.$primary-color, $lightness: 60%); 
        color: v.$text-color;
        border: 1px solid v.$border-color;
    }

    &.error {
        background-color: color.adjust(v.$error-color, $lightness: 50%); 
        color: darken(v.$error-color, 15%);
    }

    &.info {
        background-color: v.$bg-secondary; 
        color: v.$text-color;
    }
}

.meetupGrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 

    @media (min-width: 768px) { 
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.meetupCard {
    background-color: rgb(12, 49, 49);
    padding: v.$spacing-unit;
    border: 1px solid v.$border-color;
    border-radius: v.$border-radius;
    box-shadow: v.$shadow-default;
    transition: all 300ms ease;

    &:hover {
        box-shadow: v.$shadow-hover;
    }

    .cardLink {
        font-size: 1.25rem;
        font-weight: 600;
        color: v.$primary-color;
        display: block;
        margin-bottom: 0.5rem;
        text-decoration: none;

        &:hover {
            color: v.$primary-hover;
        }
    }

    .cardDate, .card-location {
        font-size: 0.875rem;
        color: v.$text-color-secondary;
        margin-bottom: 0.25rem;
    }

    .cardLocation {
        margin-bottom: 0.75rem;
    }

    .cardDescription {
        color: v.$text-color;
        overflow: hidden;
        display: -webkit-box;
        @include mixins.line-clamp(2);
        -webkit-box-orient: vertical;
    }
}
