@use 'sass:color';
@use '../config/variables' as v;
@use '../abstracts/mixins' as m;

.meetups-grid {
    // This class should be used to style the grid container
    display: grid;
    // Overriding the inline styles in App.tsx using the SCSS class 'meetup-list-grid'
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem; 

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.meetup-card {
    background-color: white;
    padding: 1.5rem;
    box-shadow: v.$shadow-default;
    border-radius: 0.75rem;
    border: 1px solid v.$border-color; 
    transition: box-shadow 300ms, border-color 300ms;

    &:hover {
        box-shadow: v.$shadow-hover;
        border-color: v.$primary-color;
    }

    .card-title {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        
        .card-link {
            color: v.$primary-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .card-date-location {
        font-size: 0.875rem;
        color: v.$text-color-secondary;
        margin-bottom: 1rem;
    }

    .card-description {
        display: -webkit-box;
        @include m.line-clamp(3); // Using imported mixin
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card-footer {
        margin-top: 1rem;
        padding-top: 0.75rem;
        border-top: 1px solid v.$bg-secondary; // separator
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .card-participants {
        font-size: 0.875rem;
        color: v.$text-color-secondary;
    }

    .details-link {
        font-weight: 500;
        font-size: 0.875rem;
    }
}
