@use '../abstracts/variables' as v;
@use 'sass:color';

.status-message {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.loading {
    border-color: v.$primary-color;
    background-color: color.adjust(v.$primary-color, $lightness: 40%);
    color: color.adjust(v.$primary-color, $lightness: -10%);
}

.error-message {
    border-color: v.$error-color;
    background-color: color.adjust(v.$error-color, $lightness: 40%);
    color: color.adjust(v.$error-color, $lightness: -10%);
}

.empty-message {
    text-align: center;
    color: v.$text-color-secondary;
    padding: 2rem;
    border: 1px dashed #d1d5db;
    border-radius: 0.5rem;
}
