@use '../abstracts/variables' as v;
@use 'sass:color';

.status-message {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.loading {
    border-color: v.$color-primary;
    background-color: color.adjust(v.$color-primary, $lightness: 40%);
    color: color.adjust(v.$color-primary, $lightness: -10%);
}

.error-message {
    border-color: v.$color-error;
    background-color: color.adjust(v.$color-error, $lightness: 40%);
    color: color.adjust(v.$color-error, $lightness: -10%);
}

.empty-message {
    text-align: center;
    color: v.$color-text-secondary;
    padding: 2rem;
    border: 1px dashed #d1d5db;
    border-radius: 0.5rem;
}
